<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- Data Binding -->
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Project</ion-title>
    </ion-toolbar>
  </ion-header>

<div style="text-align: center;">
  <br>
 <ion-button (click)="openPage()">Open Page 1</ion-button>
 <br>
 <ion-button (click)="openPage2()">Open Page 2</ion-button>
</div>
</ion-content>
